
<div id="footer">

    <div class="contact">
<p>Phone : 066/669-467</p>
<p>Fax : 057/230-446</p>
<p>Email : gamesoft@gmail.com</p>

</div>

<div class="icons">
    <ul>
        <li><i class="fa fa-address-book" aria-hidden="true"></i>  District 17, Washington D.C.</li>
        <li><i class="fa fa-facebook-square" aria-hidden="true"></i>  facebook/gamesoft</li>
        <li><i class="fa fa-reddit" aria-hidden="true"></i> reddit/gamseoft444
        </li>
    </ul>
</div>

</div>
<h5>Gamesoft Copyright&copy;</h5>