
#footer{
    overflow: hidden;
   
}

h5 {
    text-align: center;
    color: #b3b3cc;
    height: 10px;
    font-family: 'DotGothic16', sans-serif;
}
p {
    font-family: 'Truculenta', sans-serif;
}

.icons {
    float: right;
    padding: 10px;
   
}
.contact {
    float: left;
    padding: 10px;
   
}
ul{
   list-style: none;
}

li{
    padding: 5px;
}

